/* it will help to reduce extra space and also help box sizeing to align them properly*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.label{
    background-image: url("./images/wrtiting-tools.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;   
}
.menu {
    background-color: grey;
    text-align: center;
}
.menu ul {
    list-style: none;
    display: inline-flex;
}
.menu ul li {
    width: 250px;
    margin: 15px;
    padding: 15px;
}
.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: arial;
}
.menu ul li:hover {
    background-color: goldenrod;
}
.label {
    color: white;
    font-size: 50px;
    margin: 10px;
}
.extraspace {
    height: 30vh;
}
.circle {
    background-image: none;
    background-color: white;
    display: inline-block;
    background-color: gold;
    width: 220px;
    margin: 50px;
    height: 220px;
    border-radius: 50%; /*for making a circle*/
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid black;
}

h1.about {
    text-align: center;
    font-size: 50px;
}

.Sub-Container {
            margin:20px;
        }
        .Sub-Container .main {
            float: left;
            color: white;
            background-color: grey;
            width: 42%;
            margin: 9px 20px;
            height:800px;
        }
        .Sub-Container .main h3 {
            font-size: 30px;
            text-align: center;
        }
        .Sub-Container .main p {
            font-size: 20px;
            padding: 5px;
        }
       
        .Sub-Container .article {
            width: 42%;
            margin: 9px 57px;
            height: 255px;
            color: white;
            text-align: center;
            float: left;
            background-color: rgb(255, 115, 0);
        }
        /*this will help to take section 3 out from the sub container*/
        .Sub-Container::after {
            content: "";
            clear: both;
            display: table;
        }

        .cards {
            margin-left: 20px;
            margin-top: 50px;
            display: inline-block;
            border-radius: 10px;
            background-color: white;
            width: 23%;
            
            box-shadow: 5px 5px 10px;
          }
          .cards:hover {
            box-shadow: 2px 2px 10px black;
          }
          .image img {
            border-top-right-radius:10px; /*it will to make image roundend*/
            border-top-left-radius:10px;
            width: 100%;
            height: 200px;
            margin-bottom: 7px;
            
          }
          .title {
            text-align: center;
            margin-bottom: 7px;
            font-size: 25px;
          }
          .description {
            text-align: center;/*it will automatically used for a tag*/
            font-size: 20px;
            
          }
          .button a {
            border-radius: 10px;
            text-decoration: none;
            text-align: center;
            padding-top: 12px;
            background-color: blue;
            color: white;
            display: inline-block;
            width: 80%;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .button a:hover {
            background-color: white;
            color: black;
            border: 1px solid blue;
          }
          .button a:visited {
            background-color: red;
            color:white;
          }
.footer {
    background-color: pink;
    height: 150px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.footer a {
    padding-top: 20px;
}
        


