* {
    margin: 0px;/* it will help to remove all the extra space from straing left and top */
    padding: 0px;
    box-sizing: border-box;
  }
  a{
      text-decoration: none;
      color: black;
  }

  .cards {
    display: inline-block;
    border-radius: 0.73vw;
    background-color: white;
    width:25vw;
    height: 18vw;
    margin: 1.46vw;
    box-shadow: 0vw 0vw 0.73vw;
  }
  .cards:hover {
    box-shadow: 0.14vw 0.14vw 1.46vw black;
  }
  .cards .title {
      text-align:center ;
      height:3.66vw;
      margin: 0.73vw 0vw;
  }
  .cards .topic-tags {
      padding-left: 0.14vw;
      font-size: 1.50vw;
      margin: 0.8vw;
  }
  .cards .difficulty {
    font-size: 1.50vw;
    padding-left: 0.14vw;
    margin: 0.8vw;
}
.easy {
  margin:6px 1.5px;
  border-radius: 5px;
}
.cards .popularity {
    font-size: 1.50vw;
    padding-left: 0.14vw;
    margin: 1.09vw;
}

.checked {
  color: orange;
  font-size: 200px;
  padding: 10px 25px;
  
}
.fa-star {
  padding:10px 25px;
}
  