* {
    margin: 0px;/* it will help to remove all the extra space from straing left and top */
    padding: 0px;
    box-sizing: border-box;
  }
  a{
      text-decoration: none;
      color: black;
  }

  .cards {
    display: inline-block;
    border-radius: 0.73vw;
    background-color: white;
    width:25vw;
    height: 18vw;
    margin: 1.46vw;
    box-shadow: 0vw 0vw 0.73vw;
  }
  .cards:hover {
    box-shadow: 0.14vw 0.14vw 1.46vw black;
  }
  .cards .title {
      text-align:center ;
      height:3.66vw;
      margin: 0.73vw 0vw;
  }
  .cards .topic-tags {
      padding-left: 0.14vw;
      font-size: 1.83vw;
      margin: 1.09vw;
  }
  .cards .difficulty {
    font-size: 1.83vw;
    padding-left: 0.14vw;
    margin: 1.09vw;
}
.easy {
   margin-top: 5px;
    border:none;
    height:5px;
    border-radius: 10px;
    background: linear-gradient(to right,black,grey);

}
.cards .popularity {
    font-size: 1.83vw;
    padding-left: 0.14vw;
    margin: 1.09vw;
}
  